{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block page_content %}

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Actions</h3>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        {{ macros.follow_form(forms['follow']) }}
      </div>
      <div class="col-md-6">
        {{ macros.tweet_form(forms['tweet']) }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        {{ macros.delete_form(forms['delete'])}}
      </div>
      <div class="col-md-6">
        {{ macros.retweet_form(forms['retweet'])}}
      </div>
    </div>
  </div>
</div>

<div class="row">
  {% if tweets %}
  {% for tweet in tweets %}
  <div class="column">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">
          {{ tweet['name'] }} ({{ tweet['user_name'] }}) ID: {{ tweet['name_id'] }}
        </div>
      </div>
      <div class="panel-body">
        {{ tweet['text']}}
      </div>
      <div class="panel-footer">
        {{ tweet['id'] }}
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>
{% endblock %}
