{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout.html" %}
{% block page_content %}
  <div class="container">
    <div class="row">
      {% if g.user %}
        <a href="{{url_for('.logout') }}">
          <img src="{{url_for('static', filename='sign-out.png') }}" alt="sign out">
        </a>
      {% else %}
        <a href="{{ url_for('.login') }}">
          <img src="{{url_for('static', filename='sign-in.png') }}" alt="sign in">
        </a>
      {% endif %}
    </div>

    <div class="row">
      {{ wtf.quick_form(form, action=url_for('.tweet')) }}
    </div>

    <div class="row">
      {% if tweets %}
        {% for tweet in tweets %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{ tweet['name'] }}</h3>
            </div>
            <div class="panel-body">
              {{ tweet['text']}}
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

{% endblock %}
